

<!-- Header -->
<a name="about"></a>
<div class="intro-header" eve-partial="eve-Assets.Views.Sample.Typed.IntroHeader.html"
     eve-partialmodel="Header"
     >

</div>
<!-- /.intro-header -->
<div eve-partial="eve-Assets.Views.Sample.Typed.Contents.html"
     eve-partialmodel="Contents"
     eve-renderinstead></div>

<a name="contact"></a>
<div class="banner" eve-partial="eve-Assets.Views.Sample.Typed.Banner.html" eve-partialmodel="Banner" >

</div>
<!-- /.banner -->

  <!-- jQuery -->
<script src="/EVE.Mvc.Samples.Embedded/Assets/LandingPage/js/jquery.js" eve-sectioncontentfor="scripts"></script>
