

<!-- Header -->
<a name="about"></a>
<div class="intro-header" eve-partial="eve-Assets.Views.Sample.Sections.IntroHeader.html">

</div>
<!-- /.intro-header -->
<div eve-partial="eve-Assets.Views.Sample.Sections.Contents.html" eve-renderinstead> </div>

<a name="contact"></a>
<div class="banner" eve-partial="eve-Assets.Views.Sample.Sections.Banner.html">

</div>
<!-- /.banner -->

  <!-- jQuery -->
<script src="/EVE.Mvc.Samples.Embedded/Assets/LandingPage/js/jquery.js" eve-sectioncontentfor="scripts"></script>
