<!-- Page Content -->
<a name="services"></a>
<div class="content-section-a" eve-partial="eve-EVE.Mvc.Samples.ViewEngine.Assets.Views.Sample.Bundles.Content1.html">

</div>
<!-- /.content-section-a -->
<div class="content-section-b" eve-partial="eve-EVE.Mvc.Samples.ViewEngine.Assets.Views.Sample.Bundles.Content2.html">

</div>
<!-- /.content-section-b -->
<div class="content-section-a" eve-partial="eve-EVE.Mvc.Samples.ViewEngine.Assets.Views.Sample.Bundles.Content3.html">

</div>
<!-- /.content-section-a -->
<div eve-sectioncontentfor="scripts" eve-renderonlycontent>
    <!-- Bootstrap Core JavaScript -->
    <script src="/EVE.Mvc.Samples.Embedded/Assets/LandingPage/js/bootstrap.min.js"></script>
</div>