
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVE.Mvc Tutorial 14 - Eve Attributes</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.8.3.js"></script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EVE.Mvc</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>

                    <li><a href="/Home/Contact">Contact</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">



        <div class="jumbotron">
            <br />
            <p class="lead">Eve Attributes</p>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Eve Attributes in View Engine</div>
            <div class="panel-body">
              The following table summarizes all the tag attributes that the view engine is using. Any other atributes are used by extensions.
                <table class="table">
                    <thead>
                        <tr>
                            <td>Attribute</td>
                            <td>Description</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                eve-renderbody
                            </td>
                            <td>
                                Applicable only in Master view. Defines the place for the page view inside the master view.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                eve-renderinstead
                            </td>
                            <td>
                                Defines that the content should be placed in place of the tag.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                eve-renderinto
                            </td>
                            <td>
                                Defines that the content should be placed at the end of the current tag content.
                            </td>
                        </tr>
                      
                        <tr>
                            <td>eve-partial</td>
                            <td>Defines tha partial view names that should be rendered for the tag.</td>
                        </tr>
                        <tr>
                            <td>eve-partialmodel</td>
                            <td>Defines the databinding path on the current view's model, that should be passed for the partial view. Applicable only with the eve-partial attribute.</td>
                        </tr>
                        <tr>
                            <td>eve-section </td>
                            <td>
                                Defines a placeholder for a section content.
                            </td>
                        </tr>
                        <tr>
                            <td>eve-sectioncontentfor</td>
                            <td>
                                Defines that the current tag (or its conent, see below) is a content for a section.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                eve-renderonlycontent
                            </td>
                            <td>
                                Defines that only the content of the current tag should be rendered as section content. Applicable only for sections.
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
        <hr />
        <footer>
            <p>&copy; 2015 - EVE.Mvc</p>
        </footer>
    </div>

    <script src="/Scripts/jquery-2.1.4.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>



</body>
</html>
