<!-- Page Content -->
<a name="services"></a>
<h1></h1>
<div class="content-section-a" eve-partial="eve-Assets.Views.Sample.DataBinding.Content1.html" 
     eve-partialmodel="Contents[0]">

</div>
<!-- /.content-section-a -->
<div class="content-section-b" eve-partial="eve-Assets.Views.Sample.DataBinding.Content2.html"
     eve-partialmodel="Contents[1]">

</div>
<!-- /.content-section-b -->
<div class="content-section-a" eve-partial="eve-Assets.Views.Sample.DataBinding.Content3.html"
     eve-partialmodel="Contents[2]">

</div>
<!-- /.content-section-a -->
<div eve-sectioncontentfor="scripts" eve-renderonlycontent>
    <!-- Bootstrap Core JavaScript -->
    <script src="/EVE.Mvc.Samples.Embedded/Assets/LandingPage/js/bootstrap.min.js"></script>
</div>